<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Imagivent</title>
    <meta name="description" content="Imagivent - Page Under Imagination" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Imagivent">
    <meta itemprop="description" content="Elena & Eliza  -  Imagine it. Share it. Live it.">
    <meta itemprop="image" content="http://imagivent.gr/images/Cover.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Imagivent">
    <meta name="twitter:description" content="Elena & Eliza  -  Imagine it. Share it. Live it.">
    <meta name="twitter:image:src" content="http://imagivent.gr/images/Cover.jpg">

    <!-- Open Graph data -->
    <meta property="og:title" content="Imagivent" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://imagivent.gr/" />
    <!-- Facebook image must be at least 600x315px -->
    <meta property="og:image" content="http://imagivent.gr/images/Cover.jpg" />
    <meta property="og:description" content="Elena & Eliza  -  Imagine it. Share it. Live it." />
    <meta property="og:site_name" content="Imagivent" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#aaaaaa">
    <% if(htmlWebpackPlugin.options.thisEnvironmentType) { %>
    <script type="text/javascript">
        window.thisEnvironmentType = '<%=htmlWebpackPlugin.options.environmentType%>';
    </script>
    <% } %>
</head>
<body>
    <div id="app" class="container"></div>
    <!-- html-webpack-plugin adds the bundle here dynamically -->
</body>
</html>
